/* Violin Plot Styling */
#violin-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: white;
}

#violin-plot {
    height: 340px;
    width: 95%;
    fill: whitesmoke;
}

.violin-histogram {
    fill: whitesmoke;
}

.points {
    opacity: 0;
}

.vehicles {
    opacity: 1;
    fill: #fbb4ae;
}
.currency {
    fill: #ccebc5;
}

.real-property {
    fill: #b3cde3;
}

.other {
    fill: #decbe4;
}

.year-hist-bins {
    /* fill : #ADD8E6; */
    stroke:black;
    /* stroke-width:3; */
}

