/* Violin Plot Styling */
#violin-area {
    height: 400px;
    width: auto;
    padding: 20px;
}

#violin-div {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 75%;
    background-color: white;
    float: left;
}

#violin-container {
    width: 25%;
    justify-content: center;
    align-items:center;
    height: 400px;
    float: right;
    margin: auto;
}

#violin-buttons {
    margin: auto;
    text-align: center;
}

#violin-plot {
    height: 340px;
    width: 95%;
    fill: whitesmoke;
}

.violin-histogram {
    fill: whitesmoke;
}

.points {
    opacity: 0.15;
}

.vehicles {
    fill: #fbb4ae;
}
.currency {
    fill: #ccebc5;
}

.real-property {
    fill: #b3cde3;
}

.other {
    fill: #decbe4;
}

.year-hist-bins {
    /* fill : #ADD8E6; */
    stroke:black;
    /* stroke-width:3; */
}

