/* Violin Plot Styling */
#violin-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: powderblue;
}

#violin-plot {
    height: 340px;
    width: 95%;
    fill: whitesmoke;
}

.violin-histogram {
    fill: whitesmoke;
}

.points {
    fill: gray;
    opacity: 0.25;
}

.year-hist-bins {
    fill : #ADD8E6;
    stroke:black;
    stroke-width:3;
}